/* nav 바가 화면에 고정되도록 설정 */
nav {
    position: fixed;
    width: 100%;
}

/* 네비게이션 바 스타일 */
.nav-bar {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 9;
    position: relative; /* 상대적인 위치를 사용 */
}

/* 사이드바 스타일 */
.nav-side-bar {
    background-color: lightcoral; /* 사이드바 배경색 */
    width: 200px;
    height: 100vh; /* 사이드바 전체 높이 */
    padding: 25px;
    z-index: 8; /* nav-bar보다 아래 */
    position: fixed; /* nav-bar 하단에 위치하도록 설정 */
    top: 60px; /* nav-bar 하단에 배치 */
    left: 0; /* 화면의 왼쪽에 고정 */
    text-align: center;
    transition: all 0.5s;
    transform: translateX(-100%);
}

/* 사이드바가 열리면 transform 값 변경 */
.nav-side-bar.open {
    transform: translateX(0); /* 사이드바가 화면에 보이도록 설정 */
}

/* 로고 스타일 */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

/* 메뉴 항목을 리스트로 구성 */
.nav-bar ul {
    display: flex;
    gap: 20px;  /* 메뉴 항목 간의 간격 */
    list-style-type: none;  /* 기본 점 제거 */
    margin: 0;
}
.nav-bar ul li {
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

/* 메뉴 항목에 마우스 오버 시 효과 */
.nav-bar ul li:hover {
    color: #0077cc;  /* 마우스를 올렸을 때 색상 변화 */
    text-decoration: underline;  /* 밑줄 추가 */
}

/* 사이드바 메뉴 항목 */
.nav-side-bar ul {
    list-style-type: none;  /* 기본 점 제거 */
    padding: 0;
}

.nav-side-bar ul li {
    margin-bottom: 20px;  /* 항목 간 간격 */
    font-size: 1rem;
    color: white;  /* 글자 색 */
    cursor: pointer;
}

/* 사이드바 항목에 마우스 오버 시 효과 */
.nav-side-bar ul li:hover {
    color: #0077cc;  /* 마우스를 올렸을 때 색상 변화 */
    text-decoration: underline;  /* 밑줄 추가 */
}

/* 기본적으로 AlignJustify 아이콘 숨기기 */
.side-bar-btn {
    display: none;
}

/* 모바일 화면에서만 아이콘 보이게 하기 */
@media (max-width: 768px) {
    .side-bar-btn {
        display: block;  /* 모바일 화면에서만 보이도록 설정 */
        color: #333; /* 아이콘 색상 설정 (원하는 색으로 설정 가능) */
        height: 48px;
        width: 48px;
        padding-left: 10px;
        cursor: pointer; /* 클릭할 수 있음을 나타내는 포인터 */
    }
    .nav-bar .logo {
        margin-left: auto;
        padding-right: 20px;
    }
    .nav-bar ul {
        display: none;
    }
}